body{
    background-color: #eec0c6;
    background-image:  linear-gradient(315deg, #e869de 0%, #974bd2 74%);
    
}

.heading
{
font-size: 30px;
width: 100%;
margin: 10px;
color: yellow;
}

.anchors{
    margin-top: 20px;
    width: 50%;
    font-size: 25px;
    border-radius: 20px;
    box-shadow:5px 5px 33px yellow
}